In [3]:
!pip install pandas-profiling

Requirement already satisfied: pandas-profiling in c:\users\sweta\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (0.2.0)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (0.7.5)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (0.13.2)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: multimethod<1.9,>=1.4 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (1.8)
Requirement already satisfied: pydantic<1.10,>=1.8.1 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (1.9.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (2.26.0)
Requirement already satisfied: seaborn<0.12,>=0.10.1 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (2.11.3)
Requirement already satisfied: missingno<0.6,>=0.4.2 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (0.5.1)
Requirement already satisfied: matplotlib<3.6,>=3.2 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (3.4.3)
Requirement already satisfied: pandas!=1.4.0,<1.5,>1.1 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (1.3.4)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (1.20.3)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (4.62.3)
Requirement already satisfied: joblib~=1.1.0 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (1.1.0)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\sweta\anaconda3\lib\site-packages (from pandas-profiling) (1.7.1)
Requirement already satisfied: networkx>=2.4 in c:\users\sweta\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\sweta\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (21.2.0)
Requirement already satisfied: Pillow in c:\users\sweta\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (8.4.0)
Requirement already satisfied: imagehash in c:\users\sweta\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas-profiling) (4.3.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\sweta\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->pandas-profiling) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sweta\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sweta\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\sweta\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sweta\anaconda3\lib\site-packages (from matplotlib<3.6,>=3.2->pandas-profiling) (1.3.1)
Requirement already satisfied: six in c:\users\sweta\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib<3.6,>=3.2->pandas-profiling) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\sweta\anaconda3\lib\site-packages (from pandas!=1.4.0,<1.5,>1.1->pandas-profiling) (2021.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\sweta\anaconda3\lib\site-packages (from pydantic<1.10,>=1.8.1->pandas-profiling) (3.10.0.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sweta\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sweta\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sweta\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\sweta\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: packaging>=21.3 in c:\users\sweta\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (21.3)
Requirement already satisfied: patsy>=0.5.2 in c:\users\sweta\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas-profiling) (0.5.2)
Requirement already satisfied: colorama in c:\users\sweta\anaconda3\lib\site-packages (from tqdm<4.65,>=4.48.2->pandas-profiling) (0.4.4)
Requirement already satisfied: PyWavelets in c:\users\sweta\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas-profiling) (1.1.1)

In [4]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import StandardScaler 
from sklearn.linear_model  import Ridge,Lasso,RidgeCV, LassoCV, ElasticNet, ElasticNetCV, LinearRegression
from sklearn.model_selection import train_test_split
import statsmodels.api as sm 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [8]:
df =pd.read_csv('Admission_Prediction.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337.0,118.0,4.0,4.5,4.5,9.65,1,0.92
1,2,324.0,107.0,4.0,4.0,4.5,8.87,1,0.76
2,3,NaN,104.0,3.0,3.0,3.5,8.00,1,0.72
3,4,322.0,110.0,3.0,3.5,2.5,8.67,1,0.80
4,5,314.0,103.0,2.0,2.0,3.0,8.21,0,0.65

In [9]:
df.shape

(500, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          485 non-null    float64
 2   TOEFL Score        490 non-null    float64
 3   University Rating  485 non-null    float64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(7), int64(2)
memory usage: 35.3 KB

In [12]:
from pandas_profiling import ProfileReport
pf=ProfileReport(df)
pf.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

from the report we conclude that we need to handle missing values and Multi-Collinearity

In [13]:
df['University Rating'] = df['University Rating'].fillna(df['University Rating'].mode()[0])
df['TOEFL Score'] = df['TOEFL Score'].fillna(df['TOEFL Score'].mean())
df['GRE Score']  = df['GRE Score'].fillna(df['GRE Score'].mean())
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.558763,107.187755,3.118000,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.103952,6.051338,1.128993,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,309.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,316.558763,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,324.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [14]:
data= df.drop(columns = ['Serial No.'])
data.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337.000000,118.0,4.0,4.5,4.5,9.65,1,0.92
1,324.000000,107.0,4.0,4.0,4.5,8.87,1,0.76
2,316.558763,104.0,3.0,3.0,3.5,8.00,1,0.72
3,322.000000,110.0,3.0,3.5,2.5,8.67,1,0.80
4,314.000000,103.0,2.0,2.0,3.0,8.21,0,0.65

In [15]:
y = data['Chance of Admit']
X =data.drop(columns = ['Chance of Admit'])

In [20]:
scaler =StandardScaler()
X_scaled = scaler.fit_transform(X)
df1=pd.DataFrame(X_scaled)

In [21]:
pf=ProfileReport(df1)
pf.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [22]:
df1.head()

              0         1         2         3         4         5         6
0  1.842741e+00  1.788542  0.782010  1.137360  1.098944  1.776806  0.886405
1  6.708143e-01 -0.031058  0.782010  0.632315  1.098944  0.485859  0.886405
2  5.124333e-15 -0.527313 -0.104623 -0.377773  0.017306 -0.954043  0.886405
3  4.905178e-01  0.465197 -0.104623  0.127271 -1.064332  0.154847  0.886405
4 -2.306679e-01 -0.692731 -0.991255 -1.387862 -0.523513 -0.606480 -1.128152

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
variables = X_scaled

# we create a new data frame which will include all the VIFs
# note that each variable has its own variance inflation factor as this measure is variable specific (not model specific)
# we do not include categorical values for mulitcollinearity as they do not provide much information as numerical ones do
vif = pd.DataFrame()

# here we make use of the variance_inflation_factor, which will basically output the respective VIFs 
vif["VIF"] = [variance_inflation_factor(variables, i) for i in range(variables.shape[1])]
# Finally, I like to include names so it is easier to explore the result
vif["Features"] = X.columns

In [24]:
vif

        VIF           Features
0  4.152735          GRE Score
1  3.793345        TOEFL Score
2  2.517272  University Rating
3  2.776393                SOP
4  2.037449                LOR
5  4.654369               CGPA
6  1.459411           Research

In [206]:
x_train,x_test,y_train,y_test = train_test_split(X_scaled,y,test_size = 0.15,random_state=100)

In [207]:
regression = LinearRegression()

regression.fit(x_train,y_train)

LinearRegression()

In [208]:
import pickle
# saving the model to the local file system
filename = 'finalized_model.pickle'
pickle.dump(regression, open(filename, 'wb'))

In [209]:
l=regression.predict(scaler.transform([[300,110,5,5,5,10,1]]))
l

array([0.92053969])

In [210]:
loaded_model = pickle.load(open(filename, 'rb'))
a=loaded_model.predict(scaler.transform([[300,110,5,5,5,10,1]]))
a

array([0.92053969])

In [211]:
regression.score(x_train,y_train)

0.8155603947534091

In [212]:
regression.score(x_test,y_test)

0.8419395337901217

In [213]:
def adj_r2(x,y):
    r2 = regression.score(x,y)
    n = x.shape[0]
    p = x.shape[1]
    adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
    return adjusted_r2
adj_r2(x_train,y_train)

0.8124642862720515

In [214]:
# Lasso Regularization
# LassoCV will return best alpha and coefficients after performing 10 cross validations
lasscv = LassoCV(alphas = None,cv =10, max_iter = 200000, normalize = True)
lasscv.fit(x_train, y_train)

LassoCV(cv=10, max_iter=200000, normalize=True)

In [215]:
# best alpha parameter
alpha = lasscv.alpha_
alpha

3.65639233366671e-05

In [216]:
lasso_reg = Lasso(alpha)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=3.65639233366671e-05)

In [217]:
lasso_reg.score(x_test, y_test)

0.8420467912018786